.main-layout {
  height: calc(100vh - 68px);
}

.video-grid-container {
  /* height: calc(100vh - 52px); */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 300px);
  grid-auto-rows: 300px;
  grid-auto-columns: 1fr;
  /* gap: 20px; */
  column-gap: 20px;
  row-gap: 30px;
}

@media (max-width: 900px) {
  .video-grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 300px);
    grid-auto-rows: 300px;
  }
}

/* scroll bar css */
::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(51, 51, 51);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}
